body {
  padding: 0px;
  margin: 0px;
}
.content {
  padding: 50px;
  text-align: left;
  width: 800px;
  margin: auto;
}
.name {
  font-family: "Quattrocento", serif;
  font-size: 32pt;
  font-weight: 400;
  text-align: center;
}
.text {
  /*font-family: "Quattrocento Sans", sans-serif;*/
  font-family: ff-tisa-web-pro, georgia, serif;
  font-size: 21px;
  line-height: 1.5;
  padding-left: 0px;
  color: rgb(50,50,50);
}
h1 {
  /*font-family: "Source Code Pro", sans-serif;*/
  font-family: ff-tisa-web-pro, georgia, serif;
  font-size: 36px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 50px;
}
h2 {
  /*font-family: "Source Code Pro", sans-serif;*/
  font-family: ff-tisa-web-pro, georgia, serif;
  font-size: 26px;
  font-weight: 200;
  margin-top: 40px;
  margin-bottom: 40px;
}
h3 {
  font-family: ff-tisa-web-pro, georgia, serif;
  font-size: 21px;
  font-weight: 200;
  margin-top: 30px;
  margin-bottom: 30px;
}
li {
  list-style-type: none;
  padding-left: 0px;
}
.inline li {
  display: inline-block;
  margin: auto;
}
iframe {
  display: block;
}
.preview {
  width: 150px;
}
.section {
  margin-bottom: 75px;
}
.nav {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 24px;
  /*font-family: "Source Code Pro", sans-serif;*/
  font-family: ff-tisa-web-pro, georgia, serif;
}
.sub-menu-x { font-size: 12px; }
.sub-menu-x a {
  margin-left: 0px !important;
  margin-right: 0px !important;
  background-color: rgb(230,230,230);
  color: black !important;
}

.sub-menu-x a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sub-menu-x a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu-x a.current-menu-item:hover {
  color: white;
  text-decoration: none !important;
  background-color: rgb(141,192,244);
}
.sub-menu-x a:hover {
  background-color: #eee;
  text-decoration: none !important;
}
.sub-menu-x a {
  padding: 3px 10px 3px 10px;

}
.sub-menu-x a.current-menu-item {
  background-color: rgb(141,192,244);
  color: white !important;
  text-decoration: none !important;
}
.menu-level-2-x { font-size: 10px; }
.menu-level-3-x { font-size: 10px; }
.menu-level-4-x { font-size: 10px; }
.menu-level-5-x { font-size: 10px; }

.nav a {
  display: inline-block;
  margin: 10px;
  color: #000;
  text-decoration: none;
  font-weight: lighter;
  /*text-transform: uppercase;*/
}
.nav a:hover {
  color: #000;
  text-decoration: underline;
}
.logos {
  margin-top: 50px;
  text-align: center;
  vertical-align: middle;
}
.logos img, img {
  width: 75px;
  margin: 0 25px 0 25px;
  vertical-align: middle;
  display: inline-block;
}
blockquote {
  text-align: center;
  margin-top: 3.14em;
}
.social img {
  width: 40px;
  margin: 0 5px 0 0;
}
.footer {
  margin-top: 150px;
  text-align: center;
  font-size: 18px;
  /*font-family: "Source Code Pro", sans-serif;*/
  font-family: ff-tisa-web-pro, georgia, serif;
  font-weight: 200;
}
.footer span {
  border-top: 1px solid #888; padding: 5px 10px 5px 10px;
}
.construction {
  color: red;
  font-size: 20px;
  font-weight: bold;
  font-family: "Source Code Pro", sans-serif;
  position: absolute;
  top: 100px;
  right: 0%;
  transform: rotate(45deg);
  text-align: center;
  z-index: 1000;
}
.mode-menu-toolbar {
  position: absolute;
  top: 10px;
  right: 10px;
  /*transform: rotate(90deg);*/
  /*margin-left: 400px;*/
  /*margin-top: 10px;*/
}

.current-menu-item {
  text-decoration: underline !important;
}
.mode-menu {
  font-size: 10pt;
  margin-right: 1em;
  text-decoration: none;
  color: #ccc;
}
.mode-menu:hover {
  color: black;
  text-decoration: underline;
}
.code {
  font-family: "Courier New", sans-serif;
  background-color: #eee;
  padding: 10px;
}
.inline-code {
  display: inline-block;
  font-family: "Courier New", sans-serif;
  background-color: #eee;
  padding-left: .5em;
  padding-right: .5em;
}
.code-line {
  font-family: "Courier New", sans-serif;
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style-type: circle;
}

h6 img {
  width: 16px;
  margin: 2px;
}

h1 img {
  margin: 0;
  padding: 0;
  width: 100%;
  /*border: 1px solid #ccc;*/
  box-shadow: 0px 1px 10px #ccc;
}

blockquote h2 {
  text-align: center;
}

blockquote ul li p {
  margin: 0;
  padding: 0;
}
blockquote {
  margin: 0;
  padding: 0;
}
blockquote ul {
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}
blockquote ul li {
  width: 49%;
  margin: 10px 0 10px 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.repl-message {
  font-size: 21px;
  padding: 50px;
  text-align: left;
  width: 800px;
  margin: auto;
}
